.about {
    max-width: 60%;    /* Adjust as needed */
    margin: 0 auto;      /* Centers horizontally */
    text-align: left;  /* Centers text */
    color: black;
   border: 2px solid #f86146;
    padding: 30px;
    border-radius: 20px;
    font-family: sans-serif;
}

 .abouttitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: sans-serif;
    color: #f86146;
    font-size: 22px;
    margin-bottom: 30px;
}

.about strong {
    color: #f86146;
}

.box{
    padding: 50px;
    border: 2px solid #f86146;
    border-radius: 30px;
    margin: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #f86146;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    text-align: center;
}
.allbox{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 2;
    flex-direction: row;
}

.box p{
    color: black;
}

.box:hover{
    transform: scale(1.05);
}

@media (max-width: 973px){

    .allbox{
        margin:5px auto;
        display: flex;
        flex-direction: row;
        gap: 2;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .box{
        padding: 50px;
        border: 2px solid #f86146;
        border-radius: 30px;
        margin: 10px;
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #f86146;
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
        text-align: center;
    }

}

@media (max-width: 565px){

    .allbox{
        margin:5px auto;
        display: flex;
        flex-direction: row;
        gap: 2;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .box{
        padding: 20px;
        border: 2px solid #f86146;
        border-radius: 30px;
        margin: 10px;
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #f86146;
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
        text-align: center;
    }

}


@media (max-width: 459px){

    .allbox{
        margin:1px auto;
        display: flex;
        flex-direction: row;
        gap: 2;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .box{
        padding: 20px;
        border: 2px solid #f86146;
        border-radius: 30px;
        margin: 10px;
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #f86146;
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
        text-align: center;
    }

}