.eduflexbox{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   
    width: 60%;
    border-radius: 20px;
    border: 2px solid #f86146;
    padding: 30px;
    
    font-family: sans-serif;
    
}


.component-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}









.educard h3{
    color: #f86146;
   

}

.educard p{
    color: black;

}

.edutitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f86146;
    font-weight: 600;
    font-size: 22px;
}

strong{
    color: #f86146;
}



