


.help {
   width: 50%;
   font-size: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 90px auto;
   color: black;
   font-family: sans-serif;
   
  }
  
 .all {
    background-color: #e6e6e6;
    margin-top: 90px;
 }

 .help div{
    font-weight: 600;
 }

 .help p {
    font-weight: 300;
 }