

.maincontent{
    color: black;
    display: flex;
    align-items: center;
    font-size: 42px;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: sans-serif;
}
.maincontentbtn{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 400;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    
}

.maincontentbtn:hover{
    transform: scale(1.05);
}
.maincontent .wave {
    width:50px;
}
.icon {

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    margin: 7px;
    display: flex;
  align-items: center;
  
  border : 1px solid rgba(255, 255, 255, 0.05); 


}

.allicons {
    display: flex;
    align-items: center; /* Center items vertically */
    flex-wrap: wrap;
    gap: 15px; /* Add spacing between items */
    margin: 0% 0% 0% 0%;
    
  }

.icon a {
    text-decoration: none;
    color:rgb(173, 169, 169) ;
    font-size: 12px;
    text-align: center;
}

.name{
    background-color: #f86146;
    color: black;
    border: none;
}

.ui{
    background-color: #ffa727;
    color: black;
    border: none;
}

.web{
    background-color: #61e7ff;
    color: black;;
    border: none;
}


.graphic{
    background-color: #69cc7a;
    color: black;
    border: none;
}

.allmain{
    margin-top: 120px;
    margin-bottom: 120px;
}

@media (max-width: 915px){
    

.maincontent{
    color: black;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: sans-serif;
}

.maincontentbtn{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    
}

.maincontent .wave {
    width:30px;
}
}


@media (max-width: 533px){
    

    .maincontent{
        color: black;
        display: flex;
        align-items: center;
        font-size: 12px;
        justify-content: center;
        margin-bottom: 30px;
        font-weight: 400;
        font-family: sans-serif;
    }
    
    .maincontentbtn{
        color: black;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        
    }
    
    .maincontent .wave {
        width:20px;
    }
    }
    
