.allcards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
.title1{
    font-size: 22px;
    font-weight: 600;
    color: #61e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card1 img{
    width: 400px;
    border-radius: 30px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
    display: block;
    margin-bottom: 20px;
    
    
}

.card1{
    
    transition: transform 0.2s ease-in-out;
    position: relative;
}
.card1:hover img{ transform: scale(1.05);}
.card1:hover{color:orange}
.card1content{
    font-size: 22px;
}


.card2 img{
    width: 400px;
    border-radius: 30px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
    display: block;
    margin-bottom: 20px;
    
}

.card2{
    
    transition: transform 0.2s ease-in-out;
    position: relative;
}
.card2:hover img{ transform: scale(1.05);}
.card2:hover{color:rgb(78, 95, 246)}
.card2content{
    font-size: 22px;
}

@media (max-width: 888px){

    .card1 img{
        width: 300px;
        border-radius: 30px;
        background-color: white;
        transition: transform 0.2s ease-in-out;
        display: block;
        margin-bottom: 20px;
        
        
    }

    .card2 img{
        width: 300px;
        border-radius: 30px;
        background-color: white;
        transition: transform 0.2s ease-in-out;
        display: block;
        margin-bottom: 20px;
        
    }

}


@media (max-width: 648px){

    .card1 img{
        width: 200px;
        border-radius: 30px;
        background-color: white;
        transition: transform 0.2s ease-in-out;
        display: block;
        margin-bottom: 20px;
        
        
    }

    .card2 img{
        width: 200px;
        border-radius: 30px;
        background-color: white;
        transition: transform 0.2s ease-in-out;
        display: block;
        margin-bottom: 20px;
        
    }

    .card1content{
        font-size: 12px;
    }


    .card2content{
        font-size: 12px;
    }
}

@media (max-width: 453px){

    .card1 img{
        width: 200px;
        border-radius: 30px;
        background-color: white;
        transition: transform 0.2s ease-in-out;
        display: block;
        margin-bottom: 20px;
        
        
    }

    .card2 img{
        width: 200px;
        border-radius: 30px;
        background-color: white;
        transition: transform 0.2s ease-in-out;
        display: block;
        margin-bottom: 20px;
        
    }

    .card1content{
        font-size: 12px;
    }


    .card2content{
        font-size: 12px;
    }

    .allcards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
      }
}
