.tech{
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 32px;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    color: black;



}

.maintech {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    width: 60%;
    align-items: center;
    justify-content: center;
    
    margin: 60px auto; /* Centers horizontally */
    text-align: center; /* Ensures text within is aligned */
    border: 2px solid #69cc7a;
    border-radius: 30px;
    padding: 20px;
}

.title{
    display: flex;
    align-items:center ;
    justify-content: center;
    color: #69cc7a;
    font-weight: 600;
    font-size: 22px;
    margin-top: 90px;
}