
@font-face {
  font-family: 'Berghan';
  src: url('./Assets/Berghan-Regular.otf') format('opentype'); /* Relative path */
}


body {
  margin: 0;
  font-family:  'Berghan',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto'
     ,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 248, 248);
  height: 100%;
  margin: 0;
  padding: 0;
overflow-x: hidden;
  box-sizing: border-box;
  cursor: url('./Assets//cursor.png'), auto;
}




code {
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Berghan';

}
/* App.css or global CSS */
html{
  
    overflow-x: hidden;
}

::-webkit-scrollbar{
width: 10px;
}


::-webkit-scrollbar-track{
  background: #bdbaba;
}

::-webkit-scrollbar-thumb{
  background:#302f2f; ;
  border-radius: 2px;
}
* {
  box-sizing: border-box;
}
